{% extends "base.html.twig" %}

{% block body %}


	<div class="shadow p-3 mb-5 bg-white rounded">
		<h1 class="text-center text-danger">DISCIPLINE-TRAVAIL-VICTOIRE</h1>
	</div>

	<section style="background-image: url('images/blanche.jpg');
    padding: 50px 10px 50px 10px;">
		<div class="title" style=" padding:10px 0px 10px 0px;
					    height: 50px;
					    color: brown;
					    border-bottom: 1.5px solid #000000;
					    margin-bottom: 30px;">
			<h2>A propos de nous</h2>
		</div>


		<div class="row">
			<article class="col-sm-7 card" style="margin:20px">

				<h5 style="padding:20px" class="text-info">ASFS à pour objectif</h5>
				<ul>

					<li>Contribuer à la promotion du sport togolais en particulier le Football</li>
					<li>Organiser et de participer aux competitions de Footbaall sous toutes ses formes</li>
					<li>Promouvoir les jeunes dans le respect des interets du club conformement aux dispositions de la FIFA</li>
					<li>De lutter contre les violences sur lles stades</li>
					<li>
						Promouvoir l'integrité ;l'ethique et l'esprit sportif afin d'empecher les méthodes et les 
									pratiques non autoriser</li>
					<li>Promouvoir le fair-play dans nos localité</li>
				</ul>

				<h5 style="padding:20px" class="text-info">Pour atteindre nos objectifs :</h5>
				<ul>
					<li>Nous Organisons des tournois dans les cantons et quartiers afin de detecter les nouveaux talents</li>
					<li>Nous récrutons les personnels technique compétent</li>
					<li>Nous formons et informons nos membres ,nos joueurs et nos personnels à travers des séminaires,
									des colloques ,des conférences , des tables rondes...</li>
					<li>Nous établissons et maintainons des partenariat avec des clubs nationnaux et internationaux</li>
				</ul>


			</article>

			<aside class="col-sm-4 shadow p-3 mb-5 bg-white rounded">

				<h3 style="padding:20px" class="text-danger">
					HISTORIQUE DU CLUB
				</h3>

				<p class="font-weight-light">
					Association Sahel football Club De Sokodé (ASFS) est une Association sociale et sportive
							 ouverte a toutes personnes physique et morales sans distinction de sexe ,d'ethnie ,de religion,
							 de profession ,non lucrative et apolitique 
							reconnu par le Federation Togolaise de Football.Elle est créer en 2013 dans la prefecture 
							de Tchaoudjo à sokodé.Elle offre aux jeunes, une formation sportive (Footbaall) afin de promouvoir le développement de cette passion mondial  
							conformement a la loi N* 40-484 du 1er Juillet 1901.
					
							Le siège se trouve à sokodé  avec une durée illimité
				</p>

				<div class="card" style="width:100%">
					<img src="images/sahel4.jpeg" class="card-img-top" alt="...">
					<div class="card-body">
						
					</div>
				</div>
				
			</aside>


		</div>

	</section>
{% endblock %}
