<footer style="
	border-top: 2px solid brown;
    padding: 15px;
    background-color: #242323;
    color: whitesmoke;
">
	<div class="row">
		<div class="col-sm-4">
			<h3>
				Contacts
			</h3>
			<li>ACADEMIE SAHEL FC:sokodé-Togo</li>
			<li>koulounde 3 avenue N24</li>
			<ul>
				<li>00228 90-82-25-99</li>
				<li>00228 98-83-53-86</li>
				<li>email: salimdev04@gmail.com</li>
			</ul>
			<br>
			<div class="list-group list-group-horizontal-sm">
				<a href="https://www.facebook.com/Academie-Sahel-Football-Club-de-Sokodé-109317580441857" class="list-group-item list-group-item-dark"><img src="images/Facebook.png" width="30" height="30" class="circle"/></a>
				<a href="#" class="list-group-item list-group-item-dark"><img src="images/instagram2.png" width="30" height="30" class="circle"/></a>
				<a href="#" class="list-group-item list-group-item-dark"><img src="images/linkin5.jpg" width="30" height="30" class="circle"/></a>
			</div>


		</div>
		<div class="col-sm-4">
			<h3>
				Partenaires
			</h3>
			<p>SAHEL FC sokodé-Togo</p>
			<p>koulounde 3 avenue N24</p>
		</div>
		<div class="col-sm-4">
			<h3>
				NewsLetters
			</h3>
			<form>
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1">
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
	<div class="shadow-none p-3 mb-5 bg-dark rounded" style="margin-top:30px"><p class="text-center">copyright created by SalimDev @2019</p></div>
    
	

</footer>
